#my-canvas {
	border: 1px solid black;
	background-color: rgb(220,220,220);
	margin-bottom: 10px;
	font-size:50px;
	font-family: 'Orbitron', sans-serif;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiIMSqRQZapL692rppZcIviwMTsMOC02wgXBIMNX8fFVTmAczpfA")
}

/*#text-canvas {
	display: block;
	border: 1px solid black;
	background-color: rgb(220,220,220);
	font-family: 'Orbitron', sans-serif;
}*/

#text-div{
	display: block;
	border: 1px solid black;
	background-color: rgb(220,220,220);
	font-family: 'Orbitron', sans-serif;
	height:180px;
	width:400px;
}